<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование пользователя</title>
</head>
<body>
<h3 style="text-align: center">Редактирование пользователя</h3>

<form action="update-user" th:object="${userSave}" th:method="put">

    <table th:replace="~{blocks/fragments :: table_users_edit}"></table>

    <input type="text" hidden="hidden" th:field="*{id}">
    <div style="text-align: center; padding-top: 8px">
        <td><input type="submit" class="button" value="Готово"></td>
        <td><input type="button" class="button" onclick="history.back();" value="Отмена"></td>
    </div>
</form>
</body>

<style th:replace="~{blocks/fragments :: button_style}">
</style>
</html>
