<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" th:href="style.css">
    <title>Пользователи</title>
</head>
<body>
<h3 style="text-align: center">Список пользователей</h3>
<table style="border: 0; margin: auto;">
    <thead>
    <tr>
        <th style="border-bottom: 1px solid">
            <a href="/users?column=firstName&direction=ASC" class="button">↓</a>
            Имя
            <a href="/users?column=firstName&direction=DESC" class="button">↑</a>
        </th>
        <th style="border-bottom: 1px solid"></th>
        <th style="border-bottom: 1px solid">
            <a href="/users?column=lastName&direction=ASC" class="button">↓</a>
            Фамилия
            <a href="/users?column=lastName&direction=DESC" class="button">↑</a>
        </th>
        <th style="border-bottom: 1px solid"></th>
        <th style="border-bottom: 1px solid">
            <a href="/users?column=gender&direction=ASC" class="button">↓</a>
            Пол
            <a href="/users?column=gender&direction=DESC" class="button">↑</a>
        </th>
        <th style="border-bottom: 1px solid"></th>
        <th style="border-bottom: 1px solid">
            <a href="/users?column=phoneNumber&direction=ASC" class="button">↓</a>
            Номер тел.
            <a href="/users?column=phoneNumber&direction=DESC" class="button">↑</a>
        </th>
        <th style="border-bottom: 1px solid"></th>
        <th style="border-bottom: 1px solid">
            <a href="/users?column=birthDate&direction=ASC" class="button">↓</a>
            Дата рожд.
            <a href="/users?column=birthDate&direction=DESC" class="button">↑</a>
        </th>
        <th style="border-bottom: 1px solid"></th>
        <th style="border-bottom: 1px solid">
            <a href="/users?column=recordDateTime&direction=ASC" class="button">↓</a>
            Дата, время записи
            <a href="/users?column=recordDateTime&direction=DESC" class="button">↑</a>
        </th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td style="border-bottom: 1px solid; padding: 0 5px" th:text="${user.firstName}"></td>
        <td style="border-bottom: 1px solid"></td>
        <td style="border-bottom: 1px solid; padding: 0 5px" th:text="${user.lastName}"></td>
        <td style="border-bottom: 1px solid"></td>
        <td style="border-bottom: 1px solid; padding: 0 5px" th:switch="${user.gender.toString()}">
            <span th:case="'MALE'" th:text="${user.gender.value}"></span>
            <span th:case="'FEMALE'" th:text="${user.gender.value}"></span>
            <span th:case="'UNKNOWN'" th:text="${user.gender.value}"></span>
        </td>
        <td style="border-bottom: 1px solid"></td>
        <td style="border-bottom: 1px solid; padding: 0 5px" th:text="${user.phoneNumber}"></td>
        <td style="border-bottom: 1px solid"></td>
        <td style="border-bottom: 1px solid; padding: 0 5px; text-align: center"
            th:text="${user.birthDateToString()}">
        </td>
        <td style="border-bottom: 1px solid"></td>
        <td style="border-bottom: 1px solid; padding: 0 5px; text-align: center"
            th:text="${user.recordDateTimeToString()}">
        </td>
        <td style="border: 0; padding: 0 5px; text-align: center">
            <a th:attr="href='/users/show-update-user?id=' + ${user.id}" class="button">Редактировать</a>
        </td>
        <td style="border: 0; padding: 0 5px; text-align: center">
            <form th:action="'users/remove-user/' + ${user.id}" th:method="delete">
                <button type="submit" class="button">Удалить</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<h4 style="text-align: center">Добавить пользователя</h4>

<form action="users/add-user" th:object="${userSave}" method="post">
    <table style="border: none; margin: auto">
        <tbody>
        <tr>
            <td>
                <table th:replace="~{blocks/fragments :: table_users_edit}"></table>
            </td>
            <td style="vertical-align: bottom; padding-bottom: 4px">
                <input type="submit" value="Готово" class="button">
            </td>
        </tr>
        </tbody>
    </table>
</form>
</body>

<!--<style th:replace="~{blocks/fragments :: button_style}">-->
<!--</style>-->
</html>
